{% extends 'all-news/base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <img src="{{article.article_image.url}}" class="img-fluid" alt="test">
      </div>
    </div>
    <div class="row">
      <h1 class="text-center">{{article.title}}</h1>
    </div>
    <div class="row">
      <p>{{article.body}}</p>
    </div>
    <div class="row">
      {% autoescape %}
        {{article.post| safe}}
      {% eendauto %}
    </div>
    <div class="row">
      <p>Posted {{article.pub_date|timesince}} by {{article.editor.first_name}}</p>
    </div>
  </div>
{% endblock %}
